*,

.jumbotron,
.jumbotron-fluid,
.container-page
 {
    
    background-color: #915c83;
    color: #cd9575;
}

.fixed-bottom,
h2{
    text-align: center;
    background-color: #faebd7;
    font-size: 10px;
    color: #915c83;
    }

    .display-4,
    .lead {
        text-align: center;
    }
    
    #search-engine,
    .search-engine {
justify-content: left;
text-align: left;
    }